ANSIBLE_REDIS_PASSWORD=change-me
ANSIBLE_REGISTRY_USERNAME=gitlab+deploy-token-00000000
ANSIBLE_REGISTRY_PASSWORD=change-me
ANSIBLE_PRESTASHOP_IMAGE=registry.gitlab.com/school-hetic/2026-w2-greenleaf/prestashop:redis-1.0.0

# Terraform inputs
TF_VAR_AWS_ACCESS_KEY=change-me
TF_VAR_AWS_SECRET_KEY=change-me
TF_VAR_SSH_PUBLIC_KEY="ssh-ed25519 AAAA... user@example.com"

TF_VAR_AWS_REGION=eu-central-2
TF_VAR_INSTANCE_TYPE=t2.micro
TF_VAR_DB_INSTANCE_CLASS=db.t3.micro

TF_VAR_DB_NAME=prestashop
TF_VAR_DB_USER=prestashop_admin
TF_VAR_DB_PASSWORD=change-me
